@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;	
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size:18px;
  line-height: 21px;
  color: #000000;
  background: #E5E5E5;
}

h2, h3, h4 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h3 {
font-size: 24px;
line-height: 28px;
}

ol, li, ul {
  padding: 0;
  list-style-type: none;
}

p {
  margin:0;
}

a {
  text-decoration: none;
}

.button-all {
  padding: 8px 15px 9px 15px;
  background: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  width: 130px;
  transition: all 0.5s ease;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-all:hover {
  background: #615048;
}

.button-all:focus {
  background: #615048;	
}

.button-all:disabled {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
}

.button-all:disabled:hover {
  color: #FFFFFF;
  background: #E5E5E5;
  outline: none;
  cursor: default;
}

.page-container {
  width: 1200px;
  background: #E5E5E5;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Навигация */

.navigation {
  display: flex;
  background: #FFFFFF;
  padding: 0 70px;
}

.navigation-logo {
  display: block;
  width: 139px;
}

.logo {
  position: absolute;
  z-index: 1;
}

.navigation-link {
  display: block;
  font-family: "PT Sans";
  font-size:20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  padding: 20px 17px 19px 17px;	
}

.home {
  position: relative;
}

.home::after {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.catalog {
  position: relative;
}

.catalog::after {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-list {
  align-items: center;
  margin: 0;
  width: 500px;
  list-style-type: none;
  display: flex;
  margin-left: 30px;
}

.navigation-user {
  display: flex;
  max-width: 264px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-icon {
  display: block;
  text-decoration: none;
  padding: 22px 12px;	
}

a.navigation-icon {
  height: 17px;
}

.favorite{
  position: relative;
}

.favorite::after {
  position: absolute;
  left: 24px;
  top: 12px;
  min-width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 10px;
  color: #fff;
  content: "12";
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.navigation-icon.favorite {
  margin-right: 20px;
}

.main-container {
  background-color: #ffffff;	
}

.main-index { 
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 51.4px;
}  

.inner-container {	
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #fff;
  padding: 35px 70px 64px 70px;
}  

.inner-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 10px 2px 38px;
  padding: 0;
}

.breadcrumbs-link  {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #fff;
  list-style-type: none;
}

.arrow-right {
  margin: 2px 8px;
}

.filter-products {
  display: flex;
  justify-content: space-between;
  width: 1060px;
}

.catalog-filter {
  list-style-type: none;
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.catalog-filter-group {
  width: 290px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-infrastructure {
  width: 150px;
  margin-right: 65px;
} 

.filter-housing {
  width: 160px;
  margin-right: 160px;
}

.catalog-filter-list {
  list-style-type: none;
}

.control {
  position: relative;
  display: block;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

span.control-label {
  padding-left: 15px;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control-input:disabled + .control-mark {
  background: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 10px;
  content: "";
  background-image: url(../images/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 28px;
  margin-left: 3px;
  margin-top: 5px;
}

.range-input-span {
  margin: auto 0;
  margin-left: 106px;
  position: absolute;
  top: 321px;
  opacity: 0.3;
}

.catalog-filter-label {
  display: flex;
  border: solid #E5E5E5;
  width: 141px;
  height: 44px;
}

.box-right{
  border-radius: 4px 0px 0px 4px;
  border-width: 2px 1px 2px 2px;
}

.box-left{
  border-radius: 0px 4px 4px 0px;
  border-width: 2px 2px 2px 1px;
}

input.range-input.box-right {
  font: inherit;
  text-align: left;
  padding-left: 15px;
  background-color: transparent;
  border: none;
  appearance: textfield;
  position: relative;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  appearance: textfield;
  cursor: pointer;
} 

input.range-input.box-left {
  font: inherit;
  text-align: left;
  padding-left: 15px;
  background-color: transparent;
  border: none;
  appearance: textfield;
  position: relative;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  appearance: textfield;
  cursor: pointer;
}

input.range-input.box-left:hover { 
  border: 2px solid rgba(255, 255, 255, 0.6);
} 
input.range-input.box-right:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
} 

input.range-input.box-right:focus {
  opacity: 1;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  border-radius: 4px 0px 0px 4px;
}

input.range-input.box-left:focus {
  opacity: 1;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  border-radius: 0px 4px 4px 0px;
}

input.range-input.box-right:active {
  background: #756257;
}

input.range-input.box-left:active {
  background: #756257;
}

input.range-input {
  width: 120px;
  padding-left: 16px;
  
}

.range {
  margin-left: 2px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #fff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active{
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-button {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  justify-content: end;
}

.button-add{
  display: block;
  width: 160px;
  height: 48px;
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  padding: 14px 15px;
  cursor: pointer;
}

.button-add:hover,
.button-add:focus {
  background: #68A2CA;
}

.button-add:disabled {
  color: rgba(255, 255, 255, 0.3);
  background: #82B3D3;
}

.button-add:disabled:hover {
  color: #FFFFFF;
  background: #E5E5E5;
  outline: none;
  cursor: default;
}

.button-del {
  display: block;
  font-family: 'PT Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 20px 0px 8px;
}

.price {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 54px 71px 0 72px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 0 18px; 
  margin: 0;
  margin-bottom: 65px;
}

.product-card {
  display: grid;
  grid-template-columns: 140px 140px;	
  column-gap: 20px;
  grid-template-rows: 211px 28px 21px 37px 37px;
  row-gap: 16px;
  padding: 20px;
  width: 300px;
}

.product-card-link {
  grid-column: 1/-1;
}

.product-card-link-title {
  grid-column: 1/-1;
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  color: #000000;
  font-weight: 700;
  text-transform: none;
}

.card-name {
  width: 140px;
  height: 21px;
  color: #333333;
}

.card-price{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card-button {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.card-button-more {
  display: block;
  background: #756157;
  padding: 9px 15px 8px 15px;
  border-radius: 4px;
  text-align: center;
}

.card-button-more:hover,
.card-button-more:focus {
  background: #615048;	
}

.card-button-more:disabled {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
}

.card-button-more:disabled:hover {
  color: #FFFFFF;
  background: #E5E5E5;
  outline: none;
  cursor: default;
}

.card-button-favorites {
  display: block;
  background-color: #82B3D3;
  border-radius: 4px;
  padding: 9px 15px 8px 15px;
  text-align: center;
}

.card-button-favorites:hover,
.card-button-favorites:focus {
  background: #68A2CA;
}

.card-button-favorites:disabled {
  color: rgba(255, 255, 255, 0.3);
  background: #82B3D3;
}

.card-button-favorites:disabled:hover {
  color: #FFFFFF;
  background: #E5E5E5;
  outline: none;
  cursor: default;
}

.favorite-current {
  background: #7DB54F;
}

.favorite-current:hover,
.favorite-current:focus {
  background: #6C9E42;
}

.favorite-current:disabled {
  color: rgba(255, 255, 255, 0.3);
  background: #7DB54F;
}

.favorite-current:disabled:hover {
  color: #FFFFFF;
  background: #E5E5E5;
  outline: none;
  cursor: default;
}

.card-stars {
  display: block;
  align-items: center;
}

.card-stars.four {
  background: url("../images/Vectorstar.svg");
  align-self: center;
  width: 89px;
  height: 17px;
  background-repeat: space;
}

.card-stars.three {
  background: url("../images/Vectorstar.svg");
  align-self: center;
  width: 70px;
  height: 17px;
  background-repeat: space;
}

.card-stars.two {
  background: url("../images/Vectorstar.svg");
  align-self: center;
  width: 44px;
  height: 17px;
  background-repeat: space;
}

.card-button-rating {
  display: block;
  background-color: #F2F2F2;
  padding: 9px 22px 8px 26px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

.hero-welcome {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 84px;
}

p.hero-welcome {
  font-size: 22px;
  line-height: 26px;	
}

.hero-divider {		
  position: absolute;
  bottom: -82px;
  left: 0;
  height: 57px;
  width: 1200px;
  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
}

.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 57px;
}

h2.sorting-title {
  margin-right: 191px;
}

.sorting-button {
  display: flex;
  width: 160px;
  align-items: center;
  margin-left: 78px;
}

.select-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px 13px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: #fff;
  width:290px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
  background-image: url("../images/arrow-down.svg"); 
  background-repeat: no-repeat;
  background-position: center right 18px;
  background-size: 12px 17px;
}

.sorting-img {
display: block;
width: 16px;
}

.button-light {
width: 48px;
align-items: center;
padding: 14px 14px;
border: 2px solid #E5E5E5;
border-radius: 4px;
background-color: #fff;
margin-left: 8px;
}

.button-light:first-child {
  border: 2px solid #000000;
  margin-left: 0;
}

/* Преимущества */

.advantages {
   text-align: center;
   color: #000;
   background-color: #fff;
} 

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-list {
  color: #333333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list-icon {
  color: #000;
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
}

.advantages-list-icon li {
  max-width: 400px;
  padding: 80px 85px 81px 85px;
  width: 100%;
}	

.advantages-list-icon li:nth-child(even) { 
  background-color: #fff;
}

.advantages-description-wrapper {
  display: inline-block;
  background: #82B3D3;
  padding: 93px 85px;
  width: 230px;
  color: #fff;   
}

.advantages-description-wrapper h3 {
  margin-bottom: 28px;
}

h2.advantages-title {
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 31px;
}

h3.advantages-title {
  margin: 0 auto 28px;
  padding: 0 25px;
}

.advantages-text {
font-weight: 400;
font-size: 22px;
line-height: 26px;
color: #333333;
}

.advantages-list-icon h3{
margin-top:30px;
}

.advantages-list p {
  margin-top:28px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

h3.advantages-title-housing {
  margin-top: 28px;
}

h3.advantages-title-souvenirs {
  margin-top: 24px;
}

p.advantages-description-souvenirs {
  margin-top: 27px;
}

.advantages-item-number {
  color: #000;
  background: rgba(131, 179, 211, 0.12);
  width: 230px;
  padding: 103px 85px 102px;
}

li.advantages-item-number:nth-child(even) { 
  background-color: rgba(131, 179, 211, 0.2);
}

.wrapper-text {
  padding: 63px 0 90px;
}

.hotel-search {
  text-align: center;
  color: #000;
  background-color: #fff;
  padding-top: 91px;
  padding-bottom: 93px;
}

.hotel-search-text {
  width: 592px;	
  margin: 30px auto 56px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button-hotel-search {
  width: 544px;
  padding: 12px 15px;
  margin: 0 auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

/* Subscription */

.subscription {
  text-align: center;
  color: #fff;
  background-image: url("../images/background\ subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 94px 0; 
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-form {
  width: 800px;
  display: flex;
  margin: 0 auto;
}

.subscription-input {
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 580px;
  padding-left: 22px;
  border: none;
}

.subscription-button {
  background: #82B3D3;
  border-radius: 0px 10px 10px 0px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 15px 12px 15px;
  border: none;
  cursor: pointer;
  width: 200px;
}

.subscription-button:hover {
  background: #68A2CA;
}

.subscription-button:focus {
  background: #68A2CA;	
}

.subscription-button:disabled {
  color: rgba(255, 255, 255, 0.3);
  background: #82B3D3;
}

.subscription-button:disabled:hover {
  color: #FFFFFF;
  background: #E5E5E5;
  outline: none;
  cursor: default;
}

.subscription-catalog {
color: #000;
background: #fff;
}

.subscription-catalog p {
color: #333333;
}

.subscription-text {
width: 475px;
margin: 29px auto 46px;
font-size: 22px;
line-height: 26px;
text-align: center;
}

.pagination-container {
display: flex;
justify-content: space-between;
padding: 30px 0 25px; 
border-top: 1px solid #E6E6E6;
width: 1055px;
margin: 0 auto;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: flex;
  min-width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  background-color:#82B3D3;
  border-radius: 4px;
} 
a.pagination-link.pagination-current {
  color: black;
}
.pagination-item:first-child {
  background-color:#F2F2F2; 
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-show {
  display: flex;
  align-items: center;
}

.pagination-show select {	
  display: block;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  background-color:#fff;
  width: 160px;
  height: 50px;
  padding-right: 98px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: center right 18px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  appearance: none;
  padding: 15px 15px 15px 19px;
}

p.pagination-text {
  margin-right: 51px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.pagination-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

/* Footer */

.footer-social {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 35px 55px 35px 55px;
  margin: 0 auto;
  background: #FFFFFF;
  align-items: center;
}

.footer-social-list {
  display: flex;
}

.footer-social-item {
  list-style-type: none;
  margin-left: 26px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  margin-left: 15px;
}

.contacts-phone {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.logo-htmlacademy {
  display: block;
  width: 115px;
  margin-right: 15px;
  padding: 9px 0px 8px 0px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1;
}

.modal {
  position: relative;
  margin: auto;
  /*padding: 70px 70px 70px 70px;*/
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 62px 70px 70px 68px;
}

.modal-auth {
  width: 575px;
}


.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  height: 53px;
  width: 53px;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
} 

.modal-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 58px;
}

.auth-form-user-options {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.auth-form-user-options .control-label {
  font-weight: 400;
}

.auth-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.field-group-people{
  display: flex;
  width: 575px;
  height: 50px;
}

.form-label {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.auth-form-recovery {
  line-height: 22px;
  color: #000000;
}

.field-group { 
  position: relative;
  margin-bottom: 35px;
}

.field-group-date {
  display: flex;
  justify-content: space-between;
  width: 575px;
  margin: 0;
  align-items: center;
  margin-top: 4px;
}

.auth-form-field { 
  background-color: #F2F2F2;
  padding: 0 40px 0 19px;
  border-radius: 4px;
  border: none;
  width: 361px;
  height: 50px;
  background-image: url("../images/date\ 1.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.date-departure {
  margin-top: 10px;
}

.field-text {
  margin-left: 156px;
  margin-top: 8px;
  color: #333333;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.text-error {
  color: #FF5757;
}

.auth-group-number {
  display: flex;
  justify-content: space-between;
}

.auth-form-button {
  width: 575px;
  padding: 12px 26px;
  margin-top: 43px;
  background: #83B3D3;
  border-radius: 10px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.auth-form-register {
  width: 360px;
  color: #000000;
  background-color: #ffffff;
}

.group-people {
  position: relative;
  margin-top: 12px;
}

.label-adults {
  margin-right: 59px;
}
.people-adults{
  margin-right: 55px;
}

.button-minus {
  position: absolute;
  content: '';
  background: #F2F2F2;
  right: 85px;
  top: 2px;
  width: 50px;
  padding: 22px 15px 23px 12px;
  background-image: url(../images/minus.svg);
  background-repeat: no-repeat;
  background-position: center right 19px;
  border: none;
}

.field-children {
  background: #F2F2F2;
  width: 136px;
  padding: 0;
  text-align: center;
  border: none;
  margin-left: 42px;
}

.field-adults {
  background: #F2F2F2;
  width: 134px;
  padding: 0;
  text-align: center;
  border: none;
}

.button-plus {
  position: absolute;
  right: 2px;
  top: 1px;
  content: ''; 
  background: #F2F2F2;
  width: 50px;
  padding: 22px 15px 23px 12px;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center right 17px;
  border: none;
  opacity: 0.3;
}

.tooltip {
  position: absolute;
  margin-top: 13px;
  width: 16px;
}

.tooltip-toggle {
  border: none;
  background-color: #83B3D3;
  padding: 0;
  margin: 0;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.tooltip-toggle::before {
  content: "";
  position: absolute;
  right: 3px;
  top: 8px;
  width: 2px;
  height: 10px;
  background-image: url(../images/i.svg);
  z-index: 1;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #83B3D3;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color:  #68A2CA;
}

.tooltip-text {
  position: absolute;
  background-color: #333333;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px 23px 22px;
  border-radius: 10px;
  display: block;
  width: 216px;
  left: 14px;
  transform: translateX(-50%);
  top: 40px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: '';
  background-image: url(../images/triangl.svg);
  width: 14px;
  height: 6px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-container-close {
  /*display: none;*/
}